<nav role="navigation">
    <ul class="site-nav">
      {% for item in menu.get_items %}
      {% if item.get_children %}
          <li class="site-nav--has-submenu">
            <a href="{{ item.link }}" class="trigger site-nav__link">
              {{ item.title }}
            </a>
            <ul class="hidden site-nav__submenu">
              {% for child in item.get_children %}
                <li>
                  <a href="{{ child.get_link }}" class="site-nav__link">{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
      {% else %}
          <li>
            <a href="{{ item.link }}" class="site-nav__link">{{ item.title }}</a>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
</nav>
