{% include ['components/mobile-menu.twig'] %}

<header class="site-header" role="banner">

    <div class="mobile-header">
        <h1 itemscope itemtype="http://schema.org/Organization">
          <img class="monogram" src="{{theme.link}}/assets/images/logo-monogram_white.png">
          <a class="site-logo" href="{{ site.link }}">
            <img class="site-logo" src="{{theme.link}}/assets/images/logo.png" alt="logo">
          </a>
        </h1>

        <button type="button" id="showLeft" class="mm-trigger">
            <span></span>
            <span></span>
        </button>
    </div> <!-- end .mobile-header -->

    <div class="header-sidebar">

        <h1 itemscope itemtype="http://schema.org/Organization">
          <img class="monogram" src="{{theme.link}}/assets/images/logo-monogram_white.png">
          <a class="site-logo" href="{{ site.link }}">
            <img class="site-logo" src="{{theme.link}}/assets/images/logo.png" alt="logo">
          </a>
        </h1>

        <nav role="navigation">
            <ul class="site-nav">
              {% for item in menu_primary.get_items %}
              {% if item.get_children %}
                  <li class="site-nav--has-submenu">
                    <a href="{{ item.link }}" class="trigger site-nav__link">
                      {{ item.title }}
                    </a>
                    <ul class="hidden site-nav__submenu">
                      {% for child in item.get_children %}
                        <li>
                          <a href="{{ child.get_link }}" class="site-nav__link">{{ child.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
              {% else %}
                  <li>
                    <a href="{{ item.link }}" class="site-nav__link">{{ item.title }}</a>
                  </li>
              {% endif %}
              {% endfor %}
            </ul>
        </nav>

        <div class="sidebar-footer">
          <div class="contact">
            <p>{{ options.phone }}</p>
            <p><a href="http://instagram.com/{{ options.instagram }}" target="_blank">{% include ['components/icon-instagram.twig'] %}&commat;{{ options.instagram }}</a></p>
          </div>

          <h5>&copy; {{ "now" | date('Y') }} {{ site.title }}</h5> 
          <h5>site by <a href="http://kindredstudio.ca" target="_blank">Kindred Studio</a></h5>
        </div>

    </div> <!-- end .main-header -->

</header>
