{% extends "base.twig" %}

{% block content %}

  <article class="single post-type-{{post.post_type}}" id="post-{{post.ID}}">

    {% if post.get_thumbnail %}
      <a href="{{ post.link }}">
        <img src="{{ post.thumbnail.src }}"/>
      </a>
    {% endif %}

    <section class="project-info">
      <h2 class="post-title">{{ post.title }}</h2>
      <p>{{ post.meta('past_description') }}</p>

      <div class="buttons flex">
        {% if post.meta('btn1_url') %}
        <a class="button button-primary" href="{{ post.meta('btn1_url') }}" target="_blank">{{ post.meta('btn1_text') }}</a>
        {% endif %}
        {% if post.meta('btn2_url') %}
        <a class="button button-primary" href="{{ post.meta('btn2_url') }}" target="_blank">{{ post.meta('btn2_text') }}</a>
        {% endif %}
      </div>
    </section>

    <section class="project-gallery">
      {% for media_item in post.meta('image_gallery') %}
      	{% if media_item.acf_fc_layout == 'portrait' %}
      		<div class="portrait flex-between">
            <div class="column">
              <img src="{{ Image(media_item.portrait_left).src }}" />
            </div>
            <div class="column">
              <img src="{{ Image(media_item.portrait_right).src }}" />
            </div>
          </div>
      	{% elseif media_item.acf_fc_layout == 'landscape' %}
      		<div class="landscape">
            <img src="{{ Image(media_item.landscape_img).src }}" />
          </div>
      	{% endif %}
      {% endfor %}
    </section>

  </article>

{% endblock %}
